<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fine_Utilization</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
 integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
 crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
 integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
 integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
 integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style>

  ul{
  background-color: rgb(210, 252, 210);

  }
  a{
  color:teal;
  }
  nav{
  background-color:green;
  }
  footer{
  background-color:rgb(210, 252, 210);
  }
</style>

</head>
<body style="background-color: rgb(210, 252, 210);">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img
          src="{%static 'images/logo.jpg'%}" width="40" height="40"
           class="d-inline-block align-top"/>
        Fine System</a>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:8000">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/Rule/">My Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/Fine/">FA</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/FU/">FU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/About/">About US</a>
          </li>
        </ul>
    </nav>

    <div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Fine_Utilization!</strong> You should check in on some of Fine_Utilization(FU) below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h1 style="color: green;">Fine_Utilization(FU)</h1>
    <ul>

        <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link"><li>@1Udemy Courses</li></a>
            <p>Hello  User,  We have used our fine more places<i><B>"Udemy Courses"</B></i>that is one part of our finr utilization.</p>
                <p>The Fine Amount Is used here ie. 500 .00 Rs Each time.</p>
        </div>
        <div class="alert alert-success" role="alert">
            <a href="#" class="alert-link"><li>2@ Self Help Books</li></a>

            <p>Hello  User,  The fine amount we uses in The <i><B>"  Self_Help_Books"</B></i> we buyes we learn and imporve our self   .</p>
                <p>The Fine Amount Is 1000.00 Rs Each time.</p>
        </div>
        <div class="alert alert-success" role="alert">
            <a href="#" class="alert-link"> <li>@Emergency</li></a>
            <p>Hello  User,  The Fine Amount is Used The <i><B>"in Emergency"</B></i> as most of the people are middle level families so everyone cant effort
                the suddenly comes things in a technical colleges like any of forms, trainings and many more other they need to fill out very often .</p>
            <p>The Fine Amount Is uncountable Rs Each time.</p>
        </div>

        <div class="alert alert-success" role="alert">
            <a href="#" class="alert-link"> <li>@Enjoyment</li></a>
            <p>Hello  User,  The Fine Amount  is also uses for<i><B>"Enjoyment@@@@!!!Yeahh!!!"</B></i> in life its very neccesary to enjoy many more resources to
                enjoy our life  and FU also Uses There in Enjoyments On Our achievements and Normally As well.</p>
            <p>The Fine Amount Is Uncountable Rs Each time.</p>
        </div>


    </ul>
    <div class="alert alert-success" role="alert">
        <a class="btn btn-outline-success" href="http://127.0.0.1:8000/Add_Rules/" role="button">Add_FU</a>
      </div>

</div>
</body>
</html>