<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>My_Rules</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
 integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
 crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
 integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
 integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
 integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style>

  ul{
  background-color: rgb(210, 252, 210);

  }
  a{
  color:teal;
  }
  nav{
  background-color:green;
  }
  footer{
  background-color:rgb(210, 252, 210);
  }
</style>

</head>
<body style="background-color: rgb(210, 252, 210);">




<!--  -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img
          src="{%static 'images/logo.jpg'%}" width="40" height="40"
           class="d-inline-block align-top"/>
        Fine System</a>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:8000">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/Rule/">My Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/Fine/">FA</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/FU/">FU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/About/">About US</a>
          </li>
        </ul>
    </nav>
<!-- -->


    <div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>My_Rules!</strong> You should check in on some of those Rules below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h1 style="color: green;">My_Rules</h1>
    <ul>

        <div class="alert alert-success" role="alert">
                <a href="#" class="alert-link"><li>@Zero Rule</li></a>
            <p>Hello  User,  The Zero rule is about The <i><B>"English Language"</B></i> that Rule on the We should
            Speak English 24*7 allWays in Any Time anyplace and only hindi is Applicable on special permission.</p>
                <p>The Fine Amount Is 10.00 Rs Each time.</p>
        </div>
        <div class="alert alert-success" role="alert">
            <a href="#" class="alert-link"><li>@Star Rule</li></a>

            <p>Hello  User,  The Star rule is about The <i><B>"Invert Rule"</B></i> that Rule tell us about if one
                person not judge the mistake of other one and not apply fine on it then the fine should be applicable
                reverse on the person that don't point out the mistake  .</p>
                <p>The Fine Amount Is 10.00 Rs Each time.</p>
        </div>
        <div class="alert alert-success" role="alert">
            <a href="#" class="alert-link"> <li>@Breathing Rule</li></a>
            <p>Hello  User,  The Brathing rule is about The <i><B>"Brathing Excersize"</B></i> that Rule on the We should
            do Breathing Excersize because it's result is very good for our health as well as our  internal body it result keep us calm,
            focused,concentrate,our thinkig ability more sharp and much more in health also .</p>
            <p>The Fine Amount Is 10.00 Rs Each time.</p>
        </div>
        <div class="alert alert-success" role="alert">
            <a href="#" class="alert-link"> <li>@Reflection Rule</li></a>
            <p>Hello  User,  The Reflection rule is about The <i><B>"Self Analysis"</B></i> that Rule on the We should
            do Self analysis and self talk because its very neccessary to analysis thinks analysis ourselve as a human we should be a human
            we should be our best version of our self and try to improve ourselve evertime .</p>
            <p>The Fine Amount Is 10.00 Rs Each time.</p>
        </div>

        <div class="alert alert-success" role="alert">
            <a href="#" class="alert-link"> <li>@Finishing Rule</li></a>
            <p>Hello  User,  The Finishing rule is about The <i><B>"Finishing Rule"</B></i> that Rule on the we should do
             Analysis about our studies our work of the day what we have done in awhole day what we learn and all about our day we write
             in a dairy and we should submit on the group before sleeping.</p>
            <p>The Fine Amount Is 10.00 Rs Each time.</p>
        </div>

        <div class="alert alert-success" role="alert">
            <a href="#" class="alert-link"> <li>@PD Rule</li></a>
            <p>Hello  User,  The PD rule is about The <i><B>"Personality Development"</B></i> that Rule on the We should
            do Work on Personality Development in this everyday we should to work on personality like reading ,learning english,on personality, Excersize
            any other some thing need to attend related to PD .</p>
            <p>The Fine Amount Is 10.00 Rs Each time.</p>
        </div>
    </ul>
    <div class="alert alert-success" role="alert">
        <a class="btn btn-outline-success" href="http://127.0.0.1:8000/Add_Rules/" role="button">Add Rules</a>
      </div>

</div>
</body>
</html>