{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
 integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
 crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
 integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
 integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
 integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Dashboard</title>
</head>
<body>

    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-success ">
        <a class="navbar-brand " href="http://127.0.0.1:8000">
          <img src="{%static 'images/logo.png'%}" width="45" height="45"
             class="d-inline-block align-top "/>
            <h4 class="text-white d-inline clearfix">Fine System</h4></a>
          </div>
          <ul class="nav nav-tabs ">
            <li class="nav-item">
              <a class="nav-link text-white  ml-2 " href="http://127.0.0.1:8000">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active  ml-2" href="http://127.0.0.1:8000/dashboard">Dashboard</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white ml-2" href="http://127.0.0.1:8000/Rule/">My Rules</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white ml-2" href="http://127.0.0.1:8000/Fine/">Apply_Fine</a>
            </li>
  
            <li class="nav-item ">
              <a class="nav-link text-white ml-2" href="http://127.0.0.1:8000/admin/">FU</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white ml-2" href="http://127.0.0.1:8000/about_us">About US</a>
            </li>
          </ul>
      </nav>
  

      <!--MAin Area-->
      <div class="container w-50 float-left">    
        <div class="d-inline container mt-5">
          <div class="card">
              <h5 class="card-header text-success font-weight-bold ">Jahanvi's Fine</h5>
              <div class="card-body">
                <h5 class="card-title text-center text-success font-weight-bold ">Total Jahanvi's Fine is </h5>
                <p class="card-text text-center"><span class="font-weight-bold">{{jahanvi_fine.Fine_Amount__sum}}</span><span class="font-weight-bold text-dark"> &#8377;</span></p>
                <div class="container text-center">
                  <a href="http://127.0.0.1:8000/Fine/" class="btn btn-success">Apply_Fine</a>
                </div>
              </div>
            </div>
          </div>
        
        </div> 
            
<!--Total Sneh's Fine-->
<div class="container w-50 float-left">    
    <div class="d-inline container mt-5">
      <div class="card ">
          <h5 class="card-header text-success font-weight-bold ">Sneh's Fine</h5>
          <div class="card-body">
            <h5 class="card-title text-center text-success font-weight-bold ">Total Sneh's Fine is </h5>
            <p class="card-text text-center"><span class="font-weight-bold">{{sneh_fine.Fine_Amount__sum}}</span><span class="font-weight-bold text-dark"> &#8377;</span></p>
            <div class="container text-center">
              <a href="http://127.0.0.1:8000/Fine/" class="btn btn-success">Apply_Fine</a>
            </div>
          </div>
        </div>
      </div>
    
    </div> 

<!--Totoal Fine-->

    <div class="container w-75 float-center ">    
        <div class="d-inline container mt-5">
          <div class="card">
              <h5 class="card-header text-success font-weight-bold ">Total Fine Submission</h5>
              <div class="card-body">
                <h5 class="card-title text-center text-success font-weight-bold ">Total Fine Collected Until is </h5>
                <p class="card-text text-center"><span class="font-weight-bold">{{total_fine.Fine_Amount__sum}}</span><span class="font-weight-bold text-dark"> &#8377;</span></p>
                <div class="container text-center">
                  <a href="http://127.0.0.1:8000/Fine/" class="btn btn-success">Apply_Fine</a>
                </div>
              </div>
            </div>
          </div>
        
        </div> 
  


    <!--<label class=" text-success">
                     Total fine is 
                     <span class="text-dark">{{obj.Fine_Amount__sum}}</span> 
                      
                   <span class="text-dark">&#8377;</span>   
                     </label>-->
</body>
<footer>
    <div class="copyright text-center mt-3">
      <p class="font-weight-bold">2020 &copy; Fine System By Sneh & Jahanvi All Rights Reserved</p>
    </div>
  </footer>
</html>