{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fine-Utilization</title>
</head>
<body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-success ">
        <a class="navbar-brand " href="http://127.0.0.1:8000">
          <img src="{%static 'images/logo.png'%}" width="45" height="45"
             class="d-inline-block align-top "/>
            <h4 class="text-white d-inline clearfix">Fine System</h4></a>
          </div>
          <ul class="nav nav-tabs ">
            <li class="nav-item">
              <a class="nav-link  text-white ml-2 " href="http://127.0.0.1:8000">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white ml-2" href="http://127.0.0.1:8000/dashboard">Dashboard</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white ml-2" href="http://127.0.0.1:8000/Rule/">My Rules</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white ml-2" href="http://127.0.0.1:8000/Fine/">Apply_Fine</a>
            </li>
  
            <li class="nav-item ">
              <a class="nav-link  active ml-2" href="http://127.0.0.1:8000/admin/">FU</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white ml-2" href="http://127.0.0.1:8000/about_us">About US</a>
            </li>
          </ul>
      </nav>
  
</body>
</html>